<h1 style="color: blue"> {{title_employee}} </h1>

<h3>Colores switch</h3>
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'red'" [ngStyle]="{
		'background':color, 
		'color':'white',
		'padding': '20px'
		}">
		Es de color ROJO
	</li>
	<li *ngSwitchCase="'green'" [ngStyle]="{
		'background':color, 
		'color':'white',
		'padding': '20px'
		}">
		Es de color VERDE
	</li>
	<li *ngSwitchCase="'blue'" [ngStyle]="{
		'background':color, 
		'color':'white',
		'padding': '20px'
		}">
		Es de color AZUL
	</li>
</ul>

<hr/>
<strong> Empleado </strong>
<br><br>

<div *ngIf="external_employee == true">
	<button (click)="changeExternal(false)">Mostrar empleado</button>
	<ul>
		<li>Nombre: {{employee.name}}</li>
		<li>Edad: {{employee.age}}</li>
		<li>Cargo: {{employee.position}}</li>
		<li *ngIf="employee.hired == true">Esta contratado</li>
		<li *ngIf="employee.hired == false">No esta contratado</li>
	</ul>
</div>

<div *ngIf="external_employee == false">
	<button (click)="changeExternal(true)">Mostrar trabajador</button>
	<ul>
		<li>Nombre: {{employees[0].name}}</li>
		<li>Edad: {{employees[0].age}}</li>
		<li>Cargo: {{employees[0].position}}</li>
		<li *ngIf="employees[0].hired == true">Esta contratado</li>
		<li *ngIf="employees[0].hired == false">No esta contratado</li>
	</ul>
</div>

<hr/>
<h3>Listado de empleados</h3>
<ul>
	<li *ngFor="let employ of employees; let counter = index">
		<strong>Empleado {{counter+1}}:</strong>
		<ul>
			<li>Nombre: {{employ.name}}</li>
			<li>Edad: {{employ.age}}</li>
			<li>Cargo: {{employ.position}}</li>
			<li *ngIf="employ.hired == true">Esta contratado</li>
			<li *ngIf="employ.hired == false">No esta contratado</li>
		</ul>
	</li>
</ul>

<hr/>
