/* You can add global styles to this file, and also import other style files */
.blueBackground{
	background: lightblue;
}

.greenBackground{
	background: lightgreen;
}

.bigLetter{
	font-size: 40px;
}